<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>songName</key>
		<string>青花瓷</string>
		<key>fileName</key>
		<string>http://101.227.98.45/m10.music.126.net/20170328113015/fb9ab441e72d56149420629466932a1b/ymusic/92bb/abd4/4f12/f952c3deabd02e179766e092a9f3927b.mp3</string>
		<key>singer</key>
		<string>周杰伦</string>
		<key>albumImage</key>
		<string>qinghuaci.jpg</string>
	</dict>
	<dict>
		<key>songName</key>
		<string>晚风</string>
		<key>fileName</key>
		<string>http://101.227.98.44/m10.music.126.net/20170328115012/e919c8e50417efd238d2afad70fdb4a2/ymusic/d0fd/a1dc/3976/9fc1dd31debd974c826d49dd0d56ca26.mp3?wshc_tag=0&amp;wsts_tag=58d9d79c&amp;wsid_tag=b4a8a5f6&amp;wsiphost=ipdbm</string>
		<key>singer</key>
		<string>五百</string>
		<key>albumImage</key>
		<string>wanfeng.jpg</string>
	</dict>
	<dict>
		<key>songName</key>
		<string>Dream It Possible</string>
		<key>fileName</key>
		<string>http://116.224.86.35/m10.music.126.net/20170328112818/42fa5ff0f87060b34b1d41e40496aea5/ymusic/2f5b/dc3e/909c/ad6c9217129f8707013d1fdabbbe742c.mp3</string>
		<key>singer</key>
		<string>张靓颖</string>
		<key>albumImage</key>
		<string>DreamItPossible.jpg</string>
	</dict>
</array>
</plist>
